node_modules
resources
package.json
turbo.json
pnpm-lock.yaml
pnpm-workspace.yaml
/bot/neonpurple/node_modules
/bot/neonpurple/.env
/bot/neonpurple/environment.d.ts
/bot/neonpurple/package.json
/bot/neonpurple/tsconfig.json